<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EGiB areas statuses</title>
    <style>
        .status-summary ul strong {
          display: inline-block;
          width: 110px;
          text-align: left;
        }
        .tooltip {
            position: absolute;
            background-color: #333;
            color: #fff;
            opacity: 85%;
            padding: 5px;
            border-radius: 3px;
            visibility: hidden;
            pointer-events: none;
            z-index: 10;
        }
        .tooltip-content ul {
            list-style: none;
            padding-left: 0;
        }
        .tags {
            margin-left: 5px;
        }
    </style>
</head>
<body>
<h1>Latest healthcheck:</h1>
<div class="status-summary">
    <ul>
        <li><strong>Start: </strong>{{ healthcheck_report.start_dt | format_dt('%Y-%m-%d %H:%M:%S') }}</li>
        <li><strong>End: </strong>{{ healthcheck_report.end_dt | format_dt('%Y-%m-%d %H:%M:%S') }}</li>
        <li><strong>Counties: </strong><span id="counties-li-status"></span></li>
        <li><strong>Communes: </strong><span id="communes-li-status"></span></li>
    </ul>
</div>
<h2>Counties:</h2>
<object id="counties-svg" type="image/svg+xml" data="{{ url_for('static', path='/counties.svg') }}"></object>
<div id="tooltip" class="tooltip"></div>
</body>
<script>
    const counties = {{ healthcheck_report.counties | tojson | safe }};
    const communes = {{ healthcheck_report.communes | tojson | safe }};

    const tooltip = document.getElementById('tooltip');
    document.getElementById('counties-svg').addEventListener('load', function() {
        const svgDoc = this.contentDocument;
        const svgElement = this;

        function fillCounty(pathElement, color) {
            pathElement.style.fill = color;
        };

        function addTooltip(pathElement, htmlElement) {
            pathElement.addEventListener('mouseover', (event) => {
                tooltip.style.visibility = 'visible';
                tooltip.innerHTML = '';
                tooltip.appendChild(htmlElement);
            });

            pathElement.addEventListener('mousemove', (event) => {
                const svgRect = svgElement.getBoundingClientRect();

                tooltip.style.top = svgRect.top + event.clientY + window.scrollY + 10 + 'px';
                tooltip.style.left = svgRect.left + event.clientX + window.scrollX + 10 + 'px';
            });

            pathElement.addEventListener('mouseout', () => {
                tooltip.style.visibility = 'hidden';
            });
        };

        function tagsObjectToString(tags) {
            return Object.entries(tags).map(([k, v]) => `${k}=${v}`).join(',');
        }

        function createTooltipHTMLContentOnSuccess(countyTeryt, county) {
            const tooltipContentDiv = document.createElement('div');
            tooltipContentDiv.className = 'tooltip-content';

            const spanElement = document.createElement('span');
            spanElement.textContent = `${countyTeryt} – ${county.test_area_data.name}`;
            tooltipContentDiv.appendChild(spanElement);

            return tooltipContentDiv;
        }

        function createTooltipHTMLContentOnFailure(countyTeryt, county) {
            const tooltipContentDiv = document.createElement('div');
            tooltipContentDiv.className = 'tooltip-content';

            const spanElement = document.createElement('span');
            spanElement.textContent = `${countyTeryt} – ${county.test_area_data.name}`;
            tooltipContentDiv.appendChild(spanElement);
            tooltipContentDiv.appendChild(document.createElement('hr'));

            const ulElement = document.createElement('ul');

            const liStatusCode = document.createElement('li');
            liStatusCode.textContent = `Status code: ${county.status_code}`;

            const liIsBuildingData = document.createElement('li');
            liIsBuildingData.textContent = `Is building data: ${county.is_building_data}`;

            const liExpectedBuildingData = document.createElement('li');
            liExpectedBuildingData.textContent = `Expected building data: ${county.is_expected_building_data}`;

            ulElement.appendChild(liStatusCode);
            ulElement.appendChild(liIsBuildingData);
            ulElement.appendChild(liExpectedBuildingData);
            tooltipContentDiv.appendChild(ulElement);

            if (!county.is_expected_building_data) {
                tooltipContentDiv.appendChild(document.createElement('hr'));

                const divExpectedVsReceivedTags = document.createElement('div');

                const divTitleTags = document.createElement('div');
                divTitleTags.textContent = 'Expected vs received tags:';

                const divExpectedTags = document.createElement('div');
                divExpectedTags.className = 'tags';
                divExpectedTags.textContent = tagsObjectToString(county.test_area_data.expected_tags);

                const divResultTags = document.createElement('div');
                divResultTags.className = 'tags';
                divResultTags.textContent = tagsObjectToString(county.result_tags);

                divExpectedVsReceivedTags.appendChild(divTitleTags);
                divExpectedVsReceivedTags.appendChild(divExpectedTags);
                divExpectedVsReceivedTags.appendChild(divResultTags);

                tooltipContentDiv.appendChild(divExpectedVsReceivedTags);
            }
            return tooltipContentDiv;
        }
        let successCounties = 0;
        let successCommunes = 0;
        Object.entries(counties).forEach(([countyTeryt, county]) => {
            const countyPathElement = svgDoc.getElementById(countyTeryt);
            if (county.is_expected_building_data) {
                fillCounty(countyPathElement, '#00ff00');
                addTooltip(countyPathElement, createTooltipHTMLContentOnSuccess(countyTeryt, county));
                successCounties += 1;
            } else {
                fillCounty(countyPathElement, '#ff0000');
                addTooltip(countyPathElement, createTooltipHTMLContentOnFailure(countyTeryt, county));
            }
        });
        Object.entries(communes).forEach(([communeTeryt, commune]) => {
            if (commune.is_expected_building_data) {
                successCommunes += 1;
            }
        });
        document.getElementById('counties-li-status').textContent = `${successCounties}/${Object.keys(counties).length} (${successCounties}/~380)`;
        document.getElementById('communes-li-status').textContent = `${successCommunes}/${Object.keys(communes).length}`;
    });
</script>
</html>